<div class= "form">
<p id="notice"><%= notice %></p>

<p>
  <strong>Email</strong>
  <span class="user_field"><%= @user.email %></span>
</p>

<p>
  <strong>First name</strong>
  <span class="user_field"><%= @user.first_name %></span>
</p>

<p>
  <strong>Last name</strong>
  <span class="user_field"><%= @user.last_name %></span>
</p>


<div class="button"><%= link_to 'Edit', edit_user_path(@user)%></div>
   <a class= "back" id="return">
     ×
   </a>


</div>
