<div class= "form">
<p id="notice"><%= notice %></p>

<p>
  <strong>Email</strong>
  <span><%= @user.email %></span>
</p>

<p>
  <strong>First name</strong>
  <span><%= @user.first_name %></span>
</p>

<p>
  <strong>Last name</strong>
  <span><%= @user.last_name %></span>
</p>


<%= link_to 'Edit', edit_user_path(@user), class: "button", id: "white"%>
   <a class= "back" id="return">
     ×
   </a>


</div>
