<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
</html>

<body>
<h1>You've got an IOU.</h1>

<p>Hello, there.</p>

<p><%= User.find(@request.creditor_id).first_name %> has send you a request for the amount of <%= @request.amount %> for <%= @request.line_item_name %>
</p>

<p><%= User.find(@request.creditor_id).first_name %> wrote:
<%= @request.comment %>
</p>

<p>If this sounds right to you, please let <%= User.find(@request.creditor_id).first_name %> know by clicking the following link:</p>

<!-- (link to accept) -->

<p>If you don't owe this money, click this link instead to reject the IOU.</p>

<!-- (link to reject) -->
</body>
