<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
</html>

<body>
<h1>You've got an IOU.</h1>

<p>Hello, there.</p>

<p><%= User.find(@request.creditor_id).first_name %> has send you a request for the amount of <%= @request.amount %> for <%= @request.line_item_name %>
</p>

<% unless @debtor.first_name %>
<p>Seems like you don't already have an account, though. click
<%= link_to "HERE", :controller => "users", :action => "activation", :only_path => false, :id => @debtor.id, :host => "localhost:3000", :activation_token => @debtor.activation_token %>
 to create an account and get started managing your IOUs.</p>
<% end %>

<p><%= User.find(@request.creditor_id).first_name %> wrote:
<%= @request.comment %>
</p>

<p>If this sounds right to you, please let <%= User.find(@request.creditor_id).first_name %> know by clicking the following link:</p>

<%= link_to "Acknowledge IOU", :controller => "requests", :action => "update_status", :only_path => false, :id => @request.id, :method => :put, :host => "localhost:3000" %>

</body>
