<p id="notice"><%= notice %></p>

<div class= "data_block">
<div>
<p>
  <strong>By:</strong>
  <span class="data"><%= @request.debtor_id %></span>
</p>

<p>
  <strong>For:</strong>
  <span class="data"><%= @request.line_item_name %></span>
</p>

<p>
  <strong>Amount:</strong>
  <span class="data"><%= number_to_currency(@request.amount) %></span>
</p>

<p>
  <strong>Comment:</strong>
  <span class="data"><%= truncate(@request.comment, length: 20) %></span>
</p>

<p>
  <strong>Acknowledged:</strong>
  <span class="data"><%= @request.acknowledged_request_status %></span>
</p>
</div>
</div>
<%= link_to 'x', requests_path, class: 'back'%>
