<p id="notice"><%= notice %></p>

<div class= "data_block">
<div>
<p>
  <strong>By:</strong>
  <span class="data"><%= @request.debtor_id %></span>
</p>

<p>
  <strong>For:</strong>
  <span class="data"><%= @request.line_item_name %></span>
</p>

<p>
  <strong>Amount:</strong>
  <span class="data"><%= number_to_currency(@request.amount) %></span>
</p>

<p>
  <strong>Comment:</strong>
  <span class="data"><%= truncate(@request.comment, length: 20) %></span>
</p>

<p>
  <strong>Acknowledged:</strong>
  <span class="data"><%= @request.acknowledged_request_status %></span>
</p>
</div>
</div>
  <% if @current_user.id == @request.debtor_id %>
    <%= link_to("mark as paid", request_mark_as_paid_path(params[:id]), :method => :post) %>
  <% elsif @current_user.id == @request.creditor_id && Payment.find_by(request_id: params[:id]) %>
      <%= link_to("Acknowledge payment", payments_status_update_url(request_id: params[:id], payment_id: Payment.find_by(params[:request_id])), :method => :put) %>
  <% end %>
<%= link_to 'x', requests_path, class: 'back'%>
