<p id="notice"><%= notice %></p>

<p>
  <strong>Creditor:</strong>
  <%= @request.creditor_id %>
</p>

<p>
  <strong>Debtor:</strong>
  <%= @request.debtor_id %>
</p>

<p>
  <strong>Line item name:</strong>
  <%= @request.line_item_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @request.amount %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @request.comment %>
</p>

<p>
  <strong>Acknowledged request status:</strong>
  <%= @request.acknowledged_request_status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
