<p id="notice"><%= notice %></p>

<div class= "data_block">
<p>
  <strong>Creditor:</strong>
  <span class="data"><%= @request.creditor_id %></span>
</p>

<p>
  <strong>Debtor:</strong>
  <span class="data"><%= @request.debtor_id %></span>
</p>

<p>
  <strong>Line item name:</strong>
  <span class="data"><%= @request.line_item_name %></span>
</p>

<p>
  <strong>Amount:</strong>
  <span class="data"><%= @request.amount %></span>
</p>

<p>
  <strong>Comment:</strong>
  <span class="data"><%= @request.comment %></span>
</p>

<p>
  <strong>Acknowledged:</strong>
  <span class="data"><%= @request.acknowledged_request_status %></span>
</p>
</div>
<%= link_to 'x', requests_path, class: 'back'%>
