<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @payment.request %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Acknowledged payment status:</strong>
  <%= @payment.acknowledged_payment_status %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
