<!DOCTYPE html>
<html>
  <head>
    <title>IOUApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% if current_page?(login_path) || current_page?(new_user_path) || current_page?(root_path)%>
<body>
  <div class="main">
  <%= yield %>
</div>
</body>

<% else %>

<nav>
  <ul id="logout">
    <li><%= link_to "Log Out",  sessions_destroy_path(@current_user, id: 'logout_btn') %></li>
  </ul>
  <ul>
    <li class= "button"><span class="iou"><%=link_to "Request an IOU", new_request_path%></span></li>
    <li><%=link_to "Owed", creditor_requests_path(@current_user) %></li>
  <li><%=link_to "Outstanding", debtor_requests_path(@current_user) %></li>
  </ul>
</nav>

  <body>
    <div class="main">
    <%= yield %>
  </div>
  </body>
</html>
<% end %>
