<!DOCTYPE html>
<html>
  <head>
    <title>IOUApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% if current_page?(login_path)%>
<body>
  <div class="main">
  <%= yield %>
</div>
</body>

<% elsif current_page?(new_user_path) %>
<body>
  <div class="main">
  <%= yield %>
</div>
</body>

<% else %>

<nav>
  <ul>
    <li class= "button">Request an IOU</li>
    <li>Something Else</li>
    <li>Something Something</li>
  </ul>
</nav>

  <body>
    <div class="main">
    <%= yield %>
  </div>
  </body>
</html>
<% end %>
